<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXnPzl6s-uZ91m6rPjEh6oD6xdeBPHh6c</string>
	<key>GCM_SENDER_ID</key>
	<string>354743709516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.terhal</string>
	<key>PROJECT_ID</key>
	<string>terhal-app-ygu</string>
	<key>STORAGE_BUCKET</key>
	<string>terhal-app-ygu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354743709516:ios:f20a1b670cb496ac9ea9e9</string>
</dict>
</plist>